/LSPDemo.class
/ISPDemo.class
/Document.class
/Machine.class
/MultiFunctionPrinter.class
/OldFasionPrinter.class
/Printer.class
/Scanner.class
/Faxer.class
/JustAPrinter.class
/MultiFunctionDevice.class
/MultiFunctionMachine.class
/Photocopier.class
/JustAScanner.class
/JustAFaxer.class
