/BetterFilter.class
/Color.class
/ColorSpecification.class
/CombinedSpecification.class
/Demo.class
/Filter.class
/Product.class
/ProductFilter.class
/Size.class
/SizeSpecification.class
/Specification.class
/package-info.class
